* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8d8d8d;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.logo {
    position: absolute;
    top: calc(25% - 35px);
}

.logo img {
    max-width: 600px; /* Adjust the max-width of the logo */
    height: auto;
}

.signin {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    max-width: 400px;
    margin: 0 auto;
}

.title {
    font-size: 35px;
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
    font-family: TimesNewRoman, serif;
}

.error-message, .logout-message {
    color: rgba(0, 169, 57, 0.54);
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 15px 0; /* Adjust margin to add spacing between input fields */
    border: 2px solid rgba(0, 169, 57, 0.54);
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn {
    width: 100%;
    height: 50px;
    border: 2px solid rgba(0, 169, 57, 0.54);
    background: rgba(0, 169, 57, 0.54);
    color: #fff;
    font-weight: 600;
    margin: 15px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 141, 54, 0.66);
}

.image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 779px) {
    .container {
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .signin, .image-container {
        width: 100%;
        height: 50vh;
    }
}

@media (max-width: 635px) {
    form {
        width: 80%;
    }
}

@media (max-width: 320px) {
    form {
        width: 90%;
    }
}
